body,
html {
  height: 100%;
}

@media only screen and (max-width: 1449px) {/* taille max = 1449 => GSM + tablette*/
  body {
    background-image: url(Background/FondGSM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .Texte {
    position: absolute;
    font-size: 26px;
    width: 400px;
    margin-left: 30px;
  }

  .Annonce {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Parchemin{
    width: 55%;
  }

  .header {
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #f34312;
    font-family: BestWishes;
    font-size: 57px;
    font-weight: bold;
  }

  .bouton1 {
    transform: translate(60%, -150%);
    opacity: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation-delay: 10s;
    animation-fill-mode: both;
  }

  .lancement {
    background: rgba(243, 135, 63, 0.33);
    padding: 20px;
    border-radius: 15px;
    border: .5px solid rgb(189, 189, 189);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    font-family: CloudyJune;
  }

}



@media only screen and (min-width: 1450px) {/* taille min = 1450 => pc*/
  body {
    background-image: url(Background/Fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .Annonce {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .Texte{
    position: absolute;
    font-size: 28px;
    width: 460px;
    margin-left: 60px;

  }

  .header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    color: #f34312;
    font-family: BestWishes;
    font-size: 75px;
    font-weight: bold;
  }

  .bouton1{
    transform: translate(50%,-180%);
    opacity: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation-delay: 10s;
    animation-fill-mode: both;
  }
    
  .lancement{
    background: rgba(243, 135, 63, 0.33);
    padding: 30px;
    border-radius: 15px;
    border: .5px solid rgb(189,189,189);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    font-family: CloudyJune;
  }

  .Parchemin{
    width: 45%;
  }
}

@keyframes fadein {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@-moz-keyframes fadein {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@-o-keyframes fadein{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@font-face {
  font-family: "BestWishes";
  src: url('Fonts/BestWishes.ttf');
 }

@font-face{
font-family: "CloudyJune";
src: url(Fonts/CloudyJune.ttf);
}