body{
	font-family: sans-serif;
	background-color: grey;
}


#container{
	font-size: 32px;
	margin: 128px auto;
	width: 768px;
}

#calculator, #number{
	border-radius: 6px;
}

#calculator{
	margin: 0 auto;
	background-color: #454545;
	border: 1px solid #3D3D3D;
	width: 255px;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.8);
}

#header{
	padding: 13px;
	
}

input#number{
	text-align: center;
	background-color: #121212;
	border: none;
	color: #C8C8C8;
	font-size: 20px;
	padding: 16px 0px;
	width: 227px;
}

.body{
	padding: 0 10px;
}

.buttons{
	cursor: default;
	text-align: center;
	padding: 7px;
	font-size: 20px;
	text-shadow: 0 -1px 1px #000;
	color: #FFF;
	font-weight: bold;
	display: inline-block;
	border-top: 1px solid #777;
	width: 65px;
	background: linear-gradient(#5F5F5F 0%, #404040 100%);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
	margin-bottom: 10px;
	margin-inline: 4px;
}

.buttons:hover{
	background: linear-gradient(#79D144 0%, #50A61F 100%);
	border-top: 1px solid #9ADD73;
	text-shadow: 0 -1px 1px #008000;
}

.buttons:active{
	box-shadow: none;
}

#good{
	display: none;
	background-color: #008000;
	position: absolute;
	margin-top: -150px;
	width: 200px;
	height: 200px;
}