@media only screen and (max-width: 1449px){/*GSM + Tablette*/
  #MurFond{
    background-image: url(../Background/MurGSM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  }
}



@media only screen and (min-width: 1450px){/*PC*/
#MurFond{
    background-image: url(../Background/Fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  }

}
