body,
html{
  height: 100%;
}

@media only screen and (max-width: 1449px){/*GSM + Tablette*/
  body{
    background-image: url(../Background/MurGSM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .Next{
    position: relative;
    z-index: 1;
    background-color: #ec8c69;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 50%;
  }

  .Bouton{
    width: 40px;
    padding: 0%;
    text-align: center;
    font-size: 20px;
    font-weight: 600px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }

  .Bouton:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .Bouton:focus{
    outline: none;
  }

  .Ensemble{
    position: absolute;
    z-index: 2;
    background-color: #f7186a;
    height: 50%;
    top: -54px;
  }

}



@media only screen and (min-width: 1450px){/*PC*/
  body{
    background-image: url(../Background/Mur.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   }

  .Next{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .Bouton{
    width: 50px;
    font-size: 30px;
    font-weight: 600px;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #ed6ea0,
      #ec8c69,
      #f7186a,
      #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }

  .Bouton:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .Bouton:focus {
    outline: none;
  }

  .Ensemble{
    position: absolute;
    z-index: 2;
    transform: translate(100%, -125%);
  }

  .Tableau{
    width: 250%;
  }
  
}
